
/* --------------universal styles here------------ */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* ----------------Header Styles Goes here------------ */

header{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.head-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1190px;
}
.icon-for-mob{
    display: none;
}
.text-logo{
    
    font-weight: 700;
}
.nav-links ul{
    display: flex;
   
}
.nav-links>ul li{
    list-style: none;
    margin-left: 34px;
}
.nav-links>ul>li a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}

/* ---------- Top Banner Styles Goes Here ---------------- */
.top-section{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.top-container{
    display: flex;
    
    align-items: center;
    width: 1190px;
}
.banner-text{
    margin-right: 133px;
}
.banner-text h1{
    font-weight: 700;
    font-size: 52px;
    line-height:  70px;
    color: #3A3A3A;
    margin-bottom: 16px;
}
.banner-text p{
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
}

.purchase-button a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    
}   
.fa-chevron-right{
    margin-left: 5px;
}
.purchase-button {
    margin-top: 25px;
    padding: 10px 24px;
    background-color: #E02C6D;
    
    border-radius: 41px;
    width: 140px;
    box-shadow: inset 0 0 0 0 yellow;
    transition: ease-out 0.3s;
    outline: none;
}
.purchase-button:hover{
    box-shadow: inset 300px 0 0 0 yellow;
    
}

.top-img img{
    height: 475px;
    width: 475px;
    
}


/* ----------Brand Section Styles Goes Here-------- */


.brand-area{
    display: flex;
    justify-content: center;
    margin-top: 69px;
}
.brands{
    display: flex;
    width: 1110px;
    align-items: center;
    justify-content: center;
    border-top:2px solid rgba(128, 128, 128, 0.3);
    
    border-bottom: 2px solid rgba(128, 128, 128, 0.3);
    
}
.brand{
    margin-right: 60px;
    padding-top: 20px;
    padding-bottom:10px ;
}

/* ----------------- Product Area Styles Here-------- */


.products-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 90px;
    
    align-items: center;
}
.products-area>h2{
    font-size: 28px;
    font-weight: 600;
    color: #3A3A3A;
}
.products{
    
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 30px;
    row-gap: 30px;

}
.product{
    padding: 15px;
    box-shadow: 2px 2px 20px rgba(128, 128, 128, 0.637);
    border-radius: 10px;
}
.product img{
    width: 300px;
    height: 256px;
}
.product h1{
    font-size: 28px;
    color: #18191F;
    margin: 0;
    padding-top: 12px;
}
.product h2{
    font-size: 22px;
    margin: 0;
}
.product p{
    margin: 0;
    font-size: 14px;
}
.star-icon{
    font-size: 12px;
    color: orange;
}
.star-icon span{
    font-size: 12px;
    margin-left: 5px;
    color: #18191F;
}
#more-btn{
    width: 1000px;
    display: flex;
    justify-content: right;
}
#more-btn h3,a{
    color: #E02C6D;
    text-decoration: none;
}
/* --------- Review Styles --------------- */

.review-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.review-container h1{
    font-size: 28px;
    font-weight: 600;
    color: #3A3A3A;
    margin-top: 50px;
}
.reviews{
    
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
}
.review{
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(128, 128, 128, 0.637);
}


/* ---------------News Letter Section--------- */
.news-letter-area{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.news-letter{
    padding: 20px;
    width: 1110px;
    height: 270px;
    box-shadow: 2px 2px 20px rgba(128, 128, 128, 0.637);
    display: flex;
    border-radius: 5px;
    
}
.news-img{
    margin-left: 100px;
}
.news-img img{
    height: 100%;
}
.news-description input{
    height: 30px;
    width: 450px;
    font-size: 20px;
    padding-left: 10px;
    
}

.news-description button{

    margin-left: 10px;
    height: 38px;
    color: white;
    background-color: #E02C6D;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    padding: 5px 20px;

    box-shadow: inset 0 0 0 0 yellow;
    transition: ease-out 0.5s;
    outline: none;

   
}
.news-description button:hover{
    box-shadow: inset 300px 0 0 0 yellow;
}

/* ----------Footer Styles Goes Here--------- */
footer{
    margin: 0;
    width: 100%;
    height: 239px;
    background-color: #0A0826;
    color: white;
}
.foot-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.foot-container h1{
    font-size: 24px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 5px;
}
.foot-container h3{
    font-size: 14px;
    font-weight: 700;
    margin: 0;

}
.social-icons{
    display: flex;
    margin-top: 10px;
}
.social-icon{
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 3px;
    border-radius: 100px;
}
.social-icon a{
    color: white;
}

/* ------------ desktop css ends here-------  */

/* ------------Resposive starts here----------  */

/* --------------- ------Mobile Devices--------------------------- */
@media only screen and (max-width: 688px) {
    
   
    .head-container{
        display: flex;
        justify-content: right;
        align-items: right;
       
    }
    .text-logo h1{
        margin-bottom: 0;
    }
    .icon-for-mob{
        display: flex;
        font-size: 30px;
        margin-left: 15%;
        margin-top: 5px;
    }
    .top-section{
        margin-top: 22px;
    }
    .top-container{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin-top: 0;
        justify-items: center;
        justify-content: center;
        align-items: center;
        margin-right: 0;
    }
    .banner-text{
        margin-right: 0;
    }
    .banner-text h1{
        font-size: 28px;
        line-height: 40px;
        text-align: center;
       
    }
    .banner-text p{
        font-size: 14px;
        text-align: center;
       
    }
    .top-img img{
        padding: 0;
        
        width: 250px;
        height: 250px;
    }
   
    .nav-links{
        display: none;
    }
    .purchase-button{
        display: absolute;
        margin: 0;
        margin-right:0 ;
        margin-top: 0;
        margin-left: 30%;
        align-items: center;
        justify-content: center;
    }
    /* --------brands area--------- */
        .brands{
            width: 70%;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            column-gap: 10px;
            border: none;
            justify-content: center;
            
        }
       
        
        .brand{
            margin-right: 5px;
            padding-top: 5px;
            padding-bottom:0px ;
        }
        /* ---------Products area------------- */
        .products-area{
            margin-top: 20px;
        }
        .products{
    
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            column-gap: 30px;
            row-gap: 20px;
        
        }

        #more-btn{
            width: 80%;
            display: flex;
            justify-content: center;
        }
        #more-btn h3,a{
            color: #E02C6D;
            text-decoration: none;
        }
        .product-review{
            display: none;
        }

        /* ----------news letter area------ */
        .news-letter-area{
            display: flex;
            justify-content: center;
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .news-letter{
            padding: 20px;
            width: 80%;
            height: 80%;
            box-shadow: 2px 2px 20px rgba(128, 128, 128, 0.637);
            display: flex;
            border-radius: 5px;
            
        }
        .news-img{
            display: none;
        }
        .news-description input{
            height: 30px;
            width: 80%;
            font-size: 20px;
            padding-left: 10px;
            
        }
        .news-description button{
            margin-top: 10px;
            margin-left:0 ;
        }
       
}
 /* -----------------Responsive for mobile ends-------------    */

 /* -----------------Responsive for Tablet goes here----------------------- */

 @media only screen and (min-width:689px )and (max-width: 992px) {

    /* ----------head area-------- */
    .head-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    .text-logo{
        
        font-weight: 600;
    }
    .text-logo h1{
        font-size: 20px;
    }
    
       
    
    .nav-links>ul li{
        list-style: none;
        margin-left: 15px;
    }

    /* ----------------Top banner for tab----------- */

    .top-container{
        display: flex;
        
        align-items: center;
        width: 90%;
    }
    .banner-text{
        margin-right: 50px;
    }

    .banner-text h1{
        font-weight: 700;
        font-size: 32px;
        line-height:  40px;
        color: #3A3A3A;
        margin-bottom: 16px;
    }
    .banner-text p{
        font-size: 12px;
        font-weight: 600;
        color: #3A3A3A;
    }

    .top-img img{
        height: 350px;
        width: 350px;
        
    }
    
/* ----------Brands For Tab-------- */
.brands{
    display: grid;
    width: 90%;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    justify-content: center;
    border-top:2px solid rgba(128, 128, 128, 0.3);
    
    border-bottom: 2px solid rgba(128, 128, 128, 0.3);
    
}



/* ------------------product style for tab-------- */
    .products-area{
        margin-top: 20px;
    }
    .products{

        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 30px;
        row-gap: 20px;
    
    }
    #more-btn{
        width: 80%;
        display: flex;
        justify-content: center;
    }
    /* ----------------review for tab---------- */
    .review{
        margin-bottom: 30px;
    }
    .reviews{
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
        
    }
/* ----------------News Letter for Tab---------- */
.news-letter-area{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.news-letter{
    padding: 20px;
    width: 80%;
    height: 80%;
    box-shadow: 2px 2px 20px rgba(128, 128, 128, 0.637);
    display: flex;
    border-radius: 5px;
    
}
.news-img{
    display: none;
}
.news-description input{
    height: 30px;
    width: 80%;
    font-size: 20px;
    padding-left: 10px;
    
}
.news-description button{
    margin-top: 10px;
    margin-left:0 ;
}




     
 }